<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <%- include('partials/header'); -%>
</head>
<body>
        <h1>Home</h1>
        <p> <%= startingContent %></p>
        <% compose.forEach(function(title) { %>

          <h1><%=title.title %></h1>
          <p><%=title.body.substring(0,100) +"..." %>
          <a href="/compose/<%= title.title %>">Read more</a>
          </p>
        <%})%>

        
</body>
<%- include('partials/footer'); -%>
</html>
